@{
    ViewData["Title"] = "Página de inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section__container1">
        <div class="content">
            <h1 class="title">
                Reumatología <span>Dra<br /></span>Marisol Cordero
            </h1>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="action__btns">
                <button class="VerMas">Ver Más</button>
            </div>
        </div>
        <div class="image">
            <img src="~/img/mains.png" alt="perfil" />
        </div>
    </div>
</section>
<section class="section__container doctors__container">
    <div class="doctors__header">
        <div class="doctors__header__content">
            <h2 class="section__header">Nuestros Doctores Especiales</h2>
            <p>
                Nos enorgullece nuestro excepcional equipo de doctores, cada uno especialista en su respectiva área.
            </p>
        </div>
        <div class="doctors__nav">
            <span><i class="ri-arrow-left-line"></i></span>
            <span><i class="ri-arrow-right-line"></i></span>
        </div>
    </div>
    <div class="doctors__grid">
        <div class="doctors__card">
            <div class="doctors__card__image">
                <img src="assets/doctor-1.jpg" alt="doctor" />
                <div class="doctors__socials">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-facebook-fill"></i></span>
                    <span><i class="ri-heart-fill"></i></span>
                    <span><i class="ri-twitter-fill"></i></span>
                </div>
            </div>
            <h4>Dr. Emily Smith</h4>
            <p>Cardiólogo</p>
        </div>
        <div class="doctors__card">
            <div class="doctors__card__image">
                <img src="assets/doctor-2.jpg" alt="doctor" />
                <div class="doctors__socials">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-facebook-fill"></i></span>
                    <span><i class="ri-heart-fill"></i></span>
                    <span><i class="ri-twitter-fill"></i></span>
                </div>
            </div>
            <h4>Dr. James Anderson</h4>
            <p>Neurocirujano</p>
        </div>
        <div class="doctors__card">
            <div class="doctors__card__image">
                <img src="assets/doctor-3.jpg" alt="doctor" />
                <div class="doctors__socials">
                    <span><i class="ri-instagram-line"></i></span>
                    <span><i class="ri-facebook-fill"></i></span>
                    <span><i class="ri-heart-fill"></i></span>
                    <span><i class="ri-twitter-fill"></i></span>
                </div>
            </div>
            <h4>Dr. Michael Lee</h4>
            <p>Dermatólogo</p>
        </div>
    </div>
</section>
<section class="section__container service__container2 ">
    <div class="service__header2">
        <div class="service__header__content2">
            <h2 class="section__header2">Nuestro Servicio Especial</h2>
            <p>
                Más allá de simplemente proporcionar atención médica, nuestro compromiso radica en ofrecer un servicio incomparable adaptado a tus necesidades únicas.
            </p>
        </div>
        <button class="service__btn">Solicitar un Servicio</button>
    </div>
    <div class="service__grid">
        <div class="service__card">
            <span><i class="ri-microscope-line"></i></span>
            <h4>Prueba de Laboratorio</h4>
            <p>
                Diagnósticos precisos, Resultados rápidos: Experimenta pruebas de laboratorio de primera calidad en nuestras instalaciones.
            </p>
            <a href="#">Aprender Más</a>
        </div>
        <div class="service__card">
            <span><i class="ri-mental-health-line"></i></span>
            <h4>Revisión de Salud</h4>
            <p>
                Nuestras evaluaciones exhaustivas y evaluaciones expertas te ayudan a mantenerte proactivo con respecto a tu salud.
            </p>
            <a href="#">Aprender Más</a>
        </div>
        <div class="service__card">
            <span><i class="ri-hospital-line"></i></span>
            <h4>Odontología General</h4>
            <p>
                Experimenta cuidado oral integral con nuestra Odontología. Confía en nosotros para mantener tu sonrisa sana y brillante.
            </p>
            <a href="#">Aprender Más</a>
        </div>
    </div>
</section>
