@{
}
  <section class="u-align-center u-clearfix u-section-1" id="carousel_1559">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-font-lato u-text u-text-custom-color-3 u-text-1"></br>Sección Información</h1>
        <p class="u-text u-text-grey-50 u-text-2">Our Center offers you and your family the complete range of healthcare services.&nbsp;</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-1 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-icon u-icon-circle u-text-custom-color-2 u-white u-icon-1" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Down"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 88 88"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-2b51"></use></svg><svg class="u-svg-content" viewBox="0 0 88 88" id="svg-2b51"><path d="M66.56,43.44,64,41.33a12.6,12.6,0,0,0,2.9-8,12.32,12.32,0,0,0-21.69-8L44,26.88l-1.25-1.5a12.32,12.32,0,0,0-21.69,8,12.6,12.6,0,0,0,2.9,8l-2.52,2.11A15.6,15.6,0,0,1,44,22,15.61,15.61,0,0,1,66.56,43.44Z"></path><path d="M42.62,56.42,37.18,44.64l-2,4.27H17.79V45.63H33.12l4.05-8.83,5.08,11,6.6-18.53,6.06,16.4h15.3v3.28H52.62l-3.7-10.07Z"></path><path d="M46.39,70.21H41.61L28,54.09,30.5,52l12.62,15h1.76l12.6-15L60,54.09Z"></path></svg></span>
                <h4 class="u-text u-text-custom-color-3 u-text-3"> Lorem ipsum</h4>
                <p class="u-text u-text-4">Our doctors, nurses, and clinic staff work together to provide friendly, personalized care to all members of your family, from birth to age 100+.</p>
              </div>
            </div>
            <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-1 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-icon u-icon-circle u-text-custom-color-2 u-white u-icon-2" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Down"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 88 88"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-3c9e"></use></svg><svg class="u-svg-content" viewBox="0 0 88 88" id="svg-3c9e"><path d="M66.56,43.44,64,41.33a12.6,12.6,0,0,0,2.9-8,12.32,12.32,0,0,0-21.69-8L44,26.88l-1.25-1.5a12.32,12.32,0,0,0-21.69,8,12.6,12.6,0,0,0,2.9,8l-2.52,2.11A15.6,15.6,0,0,1,44,22,15.61,15.61,0,0,1,66.56,43.44Z"></path><path d="M42.62,56.42,37.18,44.64l-2,4.27H17.79V45.63H33.12l4.05-8.83,5.08,11,6.6-18.53,6.06,16.4h15.3v3.28H52.62l-3.7-10.07Z"></path><path d="M46.39,70.21H41.61L28,54.09,30.5,52l12.62,15h1.76l12.6-15L60,54.09Z"></path></svg></span>
                <h4 class="u-text u-text-custom-color-3 u-text-5"> Lorem ipsum</h4>
                <p class="u-text u-text-6">From walk-in care, same-day appointments to online visits with OnCare, we’ll take good care of you. If you are experiencing an emergency</p>
              </div>
            </div>
            <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-1 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-icon u-icon-circle u-text-custom-color-2 u-white u-icon-3" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Down"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 88 88" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9c7e"></use></svg><svg class="u-svg-content" viewBox="0 0 88 88" id="svg-9c7e"><path d="M66.56,43.44,64,41.33a12.6,12.6,0,0,0,2.9-8,12.32,12.32,0,0,0-21.69-8L44,26.88l-1.25-1.5a12.32,12.32,0,0,0-21.69,8,12.6,12.6,0,0,0,2.9,8l-2.52,2.11A15.6,15.6,0,0,1,44,22,15.61,15.61,0,0,1,66.56,43.44Z"></path><path d="M42.62,56.42,37.18,44.64l-2,4.27H17.79V45.63H33.12l4.05-8.83,5.08,11,6.6-18.53,6.06,16.4h15.3v3.28H52.62l-3.7-10.07Z"></path><path d="M46.39,70.21H41.61L28,54.09,30.5,52l12.62,15h1.76l12.6-15L60,54.09Z"></path></svg></span>
                <h4 class="u-text u-text-custom-color-3 u-text-7"> Lorem ipsum</h4>
                <p class="u-text u-text-8">Our care team has earned a reputation for providing expert care to kids, including treating many complex conditions. If your child needs an even</p>
              </div>
            </div>
            <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-border-1 u-border-palette-4-base u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-icon u-icon-circle u-text-custom-color-2 u-white u-icon-4" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Down"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 88 88" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-226b"></use></svg><svg class="u-svg-content" viewBox="0 0 88 88" id="svg-226b"><path d="M66.56,43.44,64,41.33a12.6,12.6,0,0,0,2.9-8,12.32,12.32,0,0,0-21.69-8L44,26.88l-1.25-1.5a12.32,12.32,0,0,0-21.69,8,12.6,12.6,0,0,0,2.9,8l-2.52,2.11A15.6,15.6,0,0,1,44,22,15.61,15.61,0,0,1,66.56,43.44Z"></path><path d="M42.62,56.42,37.18,44.64l-2,4.27H17.79V45.63H33.12l4.05-8.83,5.08,11,6.6-18.53,6.06,16.4h15.3v3.28H52.62l-3.7-10.07Z"></path><path d="M46.39,70.21H41.61L28,54.09,30.5,52l12.62,15h1.76l12.6-15L60,54.09Z"></path></svg></span>
                <h4 class="u-text u-text-custom-color-3 u-text-9"> Lorem ipsum</h4>
                <p class="u-text u-text-10">We can help you know what to expect before, during and after your test. Use this information, and always follow the directions your physician’s office gives</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-custom-color-4 u-section-2" id="carousel_39e8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h1 class="u-align-center u-custom-font u-font-lato u-text u-text-custom-color-1 u-text-1"> Conoce la trayectoria de nuestro médico<br>
                  </h1>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2"><span class="u-icon u-icon-circle u-text-custom-color-1 u-icon-1" data-animation-name="flipIn" data-animation-duration="2000" data-animation-direction="X"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 27.555 27.555"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f2b1"></use></svg><svg class="u-svg-content" viewBox="0 0 27.555 27.555" x="0px" y="0px" id="svg-f2b1" style="enable-background:new 0 0 27.555 27.555;"><g><path d="M13.777,0C7.108,0,1.701,5.407,1.701,12.076c0,3.45,1.454,6.553,3.773,8.752L5.07,27.555l5.736-3.787   c0.952,0.241,1.944,0.383,2.971,0.383c6.67,0,12.076-5.406,12.076-12.076C25.854,5.407,20.447,0,13.777,0z M12.61,11.342   c0,1.24-0.258,2.219-0.774,2.936s-1.4,1.352-2.654,1.9l-0.945-1.789c0.771-0.361,1.304-0.722,1.598-1.08   c0.295-0.36,0.459-0.784,0.493-1.273H8.237V7.974h4.373V11.342z M19.317,11.342c0,1.24-0.258,2.219-0.774,2.936   c-0.516,0.719-1.4,1.352-2.654,1.9l-0.944-1.789c0.771-0.361,1.304-0.722,1.599-1.08c0.295-0.36,0.459-0.784,0.493-1.273h-2.091   V7.974h4.373L19.317,11.342L19.317,11.342z"></path></g></svg></span>
                  <p class="u-text u-text-custom-color-1 u-text-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-section-3" id="carousel_e375">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-palette-4-light-3 u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Up">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div class="u-border-15 u-border-custom-color-3 u-expanded-width u-line u-line-horizontal u-line-1"></div>
                <p class="u-custom-font u-heading-font u-text u-text-custom-color-1 u-text-1">Estudios</p>
                <p class="u-text u-text-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-palette-4-light-3 u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Up">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <div class="u-border-15 u-border-custom-color-3 u-expanded-width u-line u-line-horizontal u-line-2"></div>
                <p class="u-custom-font u-heading-font u-text u-text-custom-color-1 u-text-3">LogROs</p>
                <p class="u-text u-text-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-palette-4-light-3 u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Up">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="u-border-15 u-border-custom-color-3 u-expanded-width u-line u-line-horizontal u-line-3"></div>
                <p class="u-custom-font u-heading-font u-text u-text-custom-color-1 u-text-5">Trayectoria</p>
                <p class="u-text u-text-6"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-palette-4-light-3 u-repeater-item u-shape-rectangle u-list-item-4" data-animation-name="slideIn" data-animation-duration="2000" data-animation-direction="Up">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <div class="u-border-15 u-border-custom-color-3 u-expanded-width u-line u-line-horizontal u-line-4"></div>
                <p class="u-custom-font u-heading-font u-text u-text-custom-color-1 u-text-7">Especialidad</p>
                <p class="u-text u-text-8"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="carousel_aa08">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-lato u-text u-text-custom-color-3 u-text-default u-text-1">Testimonios de los Clientes</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-border-1 u-border-custom-color-3 u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="flipIn" data-animation-duration="2000" data-animation-direction="X">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                        <img class="u-image u-image-1" src="~/img/Imagenparareseas.jpeg" data-image-width="283" data-image-height="178">
                <p class="u-text u-text-grey-50 u-text-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="u-border-1 u-border-custom-color-3 u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2" data-animation-name="flipIn" data-animation-duration="2000" data-animation-direction="X">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                        <img class="u-image u-image-2" src="~/img/Imagenparareseas.jpeg" data-image-width="283" data-image-height="178">
                <p class="u-text u-text-grey-50 u-text-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="u-border-1 u-border-custom-color-3 u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3" data-animation-name="flipIn" data-animation-duration="2000" data-animation-direction="X">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <img class="u-image u-image-3" src="~/img/Imagenparareseas.jpeg" data-image-width="283" data-image-height="178">
                <p class="u-text u-text-grey-50 u-text-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-5" id="carousel_a251">
      <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-center u-container-style u-image u-layout-cell u-left-cell u-size-20 u-size-20-md u-image-1" data-image-width="1125" data-image-height="750">
              <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
            </div>
            <div class="u-align-center u-container-style u-custom-color-3 u-layout-cell u-size-20 u-size-20-md u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1">¿Que es la Reumatología?</h2>
                <p class="u-text u-text-body-alt-color u-text-2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <a href="https://nicepage.com/website-builder" class="u-active-white u-border-none u-btn u-btn-rectangle u-button-style u-custom-font u-font-lato u-hover-white u-palette-4-light-2 u-radius-0 u-btn-1" data-animation-name="flipIn" data-animation-duration="2000" data-animation-direction="X">Mostrar más</a>
              </div>
            </div>
            <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-20 u-size-20-md u-image-2" data-image-width="536" data-image-height="750">
              <div class="u-container-layout u-valign-middle u-container-layout-3"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-2 u-section-6" id="carousel_08e0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-center u-text u-text-default u-text-1">Enfermedades Reumatológicas</h3>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-icon u-icon-circle u-text-palette-4-base u-icon-1" data-animation-name="flipIn" data-animation-duration="2000" data-animation-direction="X"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 24 24" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d79c"></use></svg><svg class="u-svg-content" viewBox="0 0 24 24" id="svg-d79c"><path d="M12,21.373c-2.15527,0-7.46484-4.20117-9.45312-8.98926a.9999.9999,0,0,1,.92383-1.3833L7.46484,11,9.168,8.44531a.9996.9996,0,0,1,1.78027.23828l1.35352,4.06055.86621-1.29883A1.00027,1.00027,0,0,1,14,11h3a1,1,0,0,1,0,2H14.53516L12.832,15.55469a.9996.9996,0,0,1-1.78027-.23828L9.69824,11.25586,8.832,12.55469A1.00027,1.00027,0,0,1,8,13l-2.918.00049c2.10742,3.645,5.9873,6.32861,6.92188,6.37256.74023-.03516,3.916-2.07715,6.13379-5.16553,1.3252-1.8457,2.73047-4.65576,1.90039-7.55957a3.66738,3.66738,0,0,0-3.34863-2.64307,3.80662,3.80662,0,0,0-3.76074,2.73975,1.00046,1.00046,0,0,1-1.85742,0A3.81422,3.81422,0,0,0,7.31055,4.00488,3.66738,3.66738,0,0,0,3.96191,6.64795a6.5335,6.5335,0,0,0-.23926,1.41016.99971.99971,0,1,1-1.99609-.11523,8.51963,8.51963,0,0,1,.31152-1.84473A5.66991,5.66991,0,0,1,7.209,2.00732,5.53309,5.53309,0,0,1,12,4.3208a5.51264,5.51264,0,0,1,4.791-2.31348,5.66991,5.66991,0,0,1,5.1709,4.09082c1.08984,3.81738-.73242,7.33789-2.45312,9.61963C17.27637,18.67725,13.69727,21.373,12,21.373Z" style="fill:currentColor"></path></svg></span>
                <h4 class="u-align-center u-text u-text-2">echocardiograms</h4>
                <p class="u-text u-text-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-icon u-icon-circle u-text-palette-4-base u-icon-2" data-animation-name="flipIn" data-animation-duration="2000" data-animation-direction="X"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-bed5"></use></svg><svg id="svg-bed5" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" class="u-svg-content">
                <g><g><path d="M125.696,125.994c-5.52,0-10,4.48-10,10s4.48,10,10,10c5.52,0,10-4.48,10-10S131.216,125.994,125.696,125.994z"></path></g></g><g><g><path d="M485.578,321.984c-22.105-38.286-70.981-51.389-109.274-29.279l-40.618,23.45v-86.836c0-10.735-3.55-21.388-9.999-29.998    l-49.997-66.661v-28.386c11.638-4.128,19.999-15.242,19.999-28.279V29.998C295.687,13.457,282.23,0,265.689,0H85.698    C69.157,0,55.699,13.457,55.699,29.998v45.998c0,13.035,8.361,24.151,19.999,28.279v28.386l-50.001,66.665    c-6.446,8.606-9.996,19.258-9.996,29.993v193.66c0,27.569,22.429,49.997,49.997,49.997h160.702    c22.421,37.583,70.767,50.161,108.664,28.279L456.3,431.258C494.255,409.34,507.794,360.479,485.578,321.984z M75.698,29.998    c0-5.514,4.486-10,9.999-10h179.991c5.514,0,10,4.486,10,10v45.998c0,5.514-4.486,9.999-10,9.999H85.698    c-5.514,0-9.999-4.486-9.999-9.999V29.998z M41.701,211.319l51.996-69.326c1.298-1.73,2-3.836,2-6v-29.998h159.992v19.999h-89.995    c-5.522,0-10,4.478-10,10s4.478,10,10,10h94.995l48.993,65.322c3.202,4.275,5.191,9.39,5.792,14.674H35.913    C36.513,220.705,38.502,215.59,41.701,211.319z M65.699,452.977c-16.541,0-29.998-13.457-29.998-29.998v-10.099h181.675    c-3.171,12.965-3.15,26.813,0.481,40.098H65.699z M225.219,392.98H35.7V245.987h279.986V327.7l-60.619,35.002    C242.428,370.003,232.212,380.396,225.219,392.98z M325.066,483.935c-28.697,16.571-65.367,6.771-81.949-21.946    c-16.661-28.994-6.564-65.498,21.952-81.969l54.277-31.338l59.997,103.915L325.066,483.935z M446.3,413.939l-49.637,28.659    l-59.998-103.917l49.638-28.656c28.716-16.578,65.373-6.761,81.955,21.957C484.913,360.844,474.785,397.49,446.3,413.939z"></path></g></g></svg></span>
                <h4 class="u-align-center u-text u-text-4">Dermatology</h4>
                <p class="u-text u-text-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-icon u-icon-circle u-icon-3" data-animation-name="flipIn" data-animation-duration="2000" data-animation-direction="X"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 32 32"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-582c"></use></svg><svg class="u-svg-content" viewBox="0 0 32 32" id="svg-582c" style="enable-background:new 0 0 32 32;"><style type="text/css"> .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} </style><path d="M20.5,3c-0.6,0-1.1,0.1-1.7,0.2c0,0,0,0,0,0c-1.1-1.1-3.1-1.1-4.2,0C13.8,4,13.2,6.3,13,7.5c-0.7,0.4-1.7,0.4-2.3-0.3  c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4C10,9.5,11,9.8,12,9.8c0.8,0,1.6-0.3,2.3-0.8c1.2-0.2,3.7-0.8,4.6-1.6c0.6-0.6,0.9-1.5,0.9-2.4  C20,5,20.2,5,20.5,5c3.6,0,6.5,2.9,6.5,6.5S24.1,18,20.5,18h-3.2l6.3-4.2c0.4-0.2,0.5-0.7,0.4-1.1c-0.1-0.4-0.5-0.7-1-0.7H5  c-0.4,0-0.8,0.3-1,0.7c-0.1,0.4,0,0.9,0.4,1.1l6.4,4.2C9.2,18.4,8,19.8,8,21.5c0,1.9,1.6,3.5,3.5,3.5H13v3h-2c-0.6,0-1,0.4-1,1  s0.4,1,1,1h4.5c1.9,0,3.5-1.6,3.5-3.5S17.4,23,15.5,23H15v-3h5.5c4.7,0,8.5-3.8,8.5-8.5S25.2,3,20.5,3z M10,21.5  c0-0.8,0.7-1.5,1.5-1.5H13v3h-1.5C10.7,23,10,22.3,10,21.5z M17,26.5c0,0.8-0.7,1.5-1.5,1.5H15v-3h0.5C16.3,25,17,25.7,17,26.5z"></path></svg></span>
                <h4 class="u-align-center u-text u-text-6">pediatric</h4>
                <p class="u-text u-text-7"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-icon u-icon-circle u-text-palette-4-base u-icon-4" data-animation-name="flipIn" data-animation-duration="2000" data-animation-direction="X"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 32 32" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e526"></use></svg><svg class="u-svg-content" viewBox="0 0 32 32" id="svg-e526"><g id="science_technology_medical_biology_dna_laboratory_medicine_test_chemistry_chemical"><path d="M29,28H21V25.82a3,3,0,0,0,2-2.45A7.4,7.4,0,0,0,21.47,9.19,5,5,0,0,0,13.56,3.4L5.87,11.1h0v0L3.58,13.38a1,1,0,0,0-.25.41l-1.28,4.1a1,1,0,0,0,.24,1L5.1,21.71a1.19,1.19,0,0,0,1.05.23l4.43-1.62a1.1,1.1,0,0,0,.37-.23l1.94-1.94h0L20,11.05a5.89,5.89,0,0,1,4,1.56,5.6,5.6,0,0,1-1.47,8.78A3,3,0,1,0,19,25.82V28H3a1,1,0,0,0,0,2H29a1,1,0,0,0,0-2ZM15,4.81A2.8,2.8,0,0,1,17,4h0a3.08,3.08,0,0,1,3,3,2.81,2.81,0,0,1-.81,2l-7,7L8,11.81ZM9.69,18.52,6.07,19.84,4.14,17.91l1-3.29,1.39-1.39,4.21,4.21ZM20,22a1,1,0,1,1-1,1A1,1,0,0,1,20,22Z"></path></g></svg></span>
                <h4 class="u-align-center u-text u-text-8">laboratory</h4>
                <p class="u-text u-text-9"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-5 u-valign-middle-md u-section-7" id="carousel_b9b8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><span class="u-icon u-icon-circle u-text-custom-color-2 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 52 52"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-077e"></use></svg><svg class="u-svg-content" viewBox="0 0 52 52" x="0px" y="0px" id="svg-077e" style="enable-background:new 0 0 52 52;"><path style="fill:currentColor;" d="M38.853,5.324L38.853,5.324c-7.098-7.098-18.607-7.098-25.706,0h0
                C6.751,11.72,6.031,23.763,11.459,31L26,52l14.541-21C45.969,23.763,45.249,11.72,38.853,5.324z M26.177,24c-3.314,0-6-2.686-6-6
                s2.686-6,6-6s6,2.686,6,6S29.491,24,26.177,24z"></path></svg></span>
                <h5 class="u-text u-text-1">our main office</h5>
                <p class="u-text u-text-2">SoHo 94 Broadway St New York, NY 1001</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-icon u-icon-circle u-text-custom-color-2 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 513.64 513.64"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9786"></use></svg><svg class="u-svg-content" viewBox="0 0 513.64 513.64" x="0px" y="0px" id="svg-9786" style="enable-background:new 0 0 513.64 513.64;"><g><g><path d="M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72    c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68    c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44    l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z"></path></svg></span>
                <h5 class="u-text u-text-3">phone number</h5>
                <p class="u-text u-text-4">234-9876-5400 <br>888-0123-4567 (Toll Free)
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-icon u-icon-circle u-text-custom-color-2 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" ><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d01e"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-d01e"><path d="m201 12.714v184.286h267v-184.286c0-7.022-5.692-12.714-12.714-12.714h-241.572c-7.022 0-12.714 5.692-12.714 12.714zm63.89 33.131h70.271c8.284 0 15 6.716 15 15s-6.716 15-15 15h-70.271c-8.284 0-15-6.716-15-15s6.715-15 15-15zm0 75.142h139.22c8.284 0 15 6.716 15 15s-6.716 15-15 15h-139.22c-8.284 0-15-6.716-15-15s6.715-15 15-15z"></path><path d="m472 227h-275c-22.091 0-40 17.909-40 40v205c0 22.091 17.909 40 40 40h275c22.091 0 40-17.909 40-40v-205c0-22.091-17.909-40-40-40zm-207.5 217.5h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm80 120h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm80 120h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15z"></path><path d="m87 227h-47c-22.091 0-40 17.909-40 40v205c0 22.091 17.909 40 40 40h47c22.091 0 40-17.909 40-40v-205c0-22.091-17.909-40-40-40z"></path></svg></span>
                <h5 class="u-text u-text-5">Fax</h5>
                <p class="u-text u-text-6">1-234-567-8900</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4"><span class="u-icon u-icon-circle u-text-custom-color-2 u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-9f82"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-9f82" style="enable-background:new 0 0 512 512;"><g><g><path d="M507.49,101.721L352.211,256L507.49,410.279c2.807-5.867,4.51-12.353,4.51-19.279V121    C512,114.073,510.297,107.588,507.49,101.721z"></path>
                </g></g><g><g><path d="M467,76H45c-6.927,0-13.412,1.703-19.279,4.51l198.463,197.463c17.548,17.548,46.084,17.548,63.632,0L486.279,80.51    C480.412,77.703,473.927,76,467,76z"></path></g>
                </g><g><g><path d="M4.51,101.721C1.703,107.588,0,114.073,0,121v270c0,6.927,1.703,13.413,4.51,19.279L159.789,256L4.51,101.721z"></path>
                </g></g><g><g><path d="M331,277.211l-21.973,21.973c-29.239,29.239-76.816,29.239-106.055,0L181,277.211L25.721,431.49    C31.588,434.297,38.073,436,45,436h422c6.927,0,13.412-1.703,19.279-4.51L331,277.211z"></path></g>
                </g></svg></span>
                <h5 class="u-text u-text-7">Email</h5>
                <p class="u-text u-text-8">
                  <a href="mailto:hello@theme.com" class="u-active-none u-border-1 u-border-active-black u-border-hover-black u-border-no-left u-border-no-right u-border-no-top u-border-palette-4-dark-2 u-btn u-button-link u-button-style u-hover-none u-none u-text-active-black u-text-hover-black u-text-palette-4-dark-1 u-btn-1">hello@theme.com</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-23 u-white u-layout-cell-1">
                <div class="u-container-layout u-container-layout-5">
                            <img class="u-expanded-width u-image u-image-default u-image-1" src="~/img/La-nouveaute-de-Waze-vous-convaincra-darreter-dutiliser-Google-Maps.jpg" alt="" data-image-width="768" data-image-height="432">
                  <h3 class="u-text u-text-custom-color-1 u-text-default u-text-9">Ubicanos</h3>
                  <a class="u-align-center u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-hover-custom-color-4 u-radius-50 u-btn-2">IR A LA UBICACIÓN</a>
                </div>
              </div>
              <div class="u-black u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-6">
                  <div class="u-expanded u-grey-light-2 u-map">
                    <div class="embed-responsive">
                      <iframe class="embed-responsive-item" src="https://maps.google.com/maps?output=embed&amp;q=Del%20Walmart%20de%20Heredia%2C%201%2C3%20kil%C3%B3metros%20al%20oeste%2C%20sobre%20carretera%20a%20la%20Aurora%20de%20Heredia.%2C%20111%2C%20Heredia%20Province%2C%20Heredia%2C%2040104&amp;z=10&amp;t=m" data-map="JTdCJTIycG9zaXRpb25UeXBlJTIyJTNBJTIybWFwLWFkZHJlc3MlMjIlMkMlMjJhZGRyZXNzJTIyJTNBJTIyRGVsJTIwV2FsbWFydCUyMGRlJTIwSGVyZWRpYSUyQyUyMDElMkMzJTIwa2lsJUMzJUIzbWV0cm9zJTIwYWwlMjBvZXN0ZSUyQyUyMHNvYnJlJTIwY2FycmV0ZXJhJTIwYSUyMGxhJTIwQXVyb3JhJTIwZGUlMjBIZXJlZGlhLiUyQyUyMDExMSUyQyUyMEhlcmVkaWElMjBQcm92aW5jZSUyQyUyMEhlcmVkaWElMkMlMjA0MDEwNCUyMiUyQyUyMnpvb20lMjIlM0ExMCUyQyUyMnR5cGVJZCUyMiUzQSUyMnJvYWQlMjIlMkMlMjJsYW5nJTIyJTNBbnVsbCUyQyUyMmFwaUtleSUyMiUzQW51bGwlMkMlMjJtYXJrZXJzJTIyJTNBJTVCJTVEJTJDJTIyZW1iZWQlMjIlM0ElMjIlMjIlN0Q="></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>