@model Proyecto_Final_CentroMedico.Usuario
@{
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
<link href="~/css/style_usuario_crud.css" rel="stylesheet" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card border-primary mt-5 rounded-lg">
                <div class="card-header">
                    Editar Usuario
                </div>
                <form asp-action="Editar" method="post">
                    <div asp-validation-summary="ModelOnly"></div>

                    <input type="hidden" asp-for="IdUsuario" />

                    <div class="mb-3">
                        <label asp-for="Nombre" class="form-label">Nombre</label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="PrimerApellido" class="form-label">Primer Apellido</label>
                        <input asp-for="PrimerApellido" class="form-control" />
                        <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="SegundoApellido" class="form-label">Segundo Apellido</label>
                        <input asp-for="SegundoApellido" class="form-control" />
                        <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="CorreoElectronico" class="form-label">Correo Electrónico</label>
                        <input asp-for="CorreoElectronico" type="email" class="form-control" />
                        <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NombreUsuario" class="form-label">Nombre de Usuario</label>
                        <input asp-for="NombreUsuario" class="form-control" />
                        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Telefono" class="form-label">Teléfono</label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Contrasena" class="form-label">Contraseña</label>
                        <input asp-for="Contrasena" type="password" class="form-control" />
                        <span asp-validation-for="Contrasena" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IdRol" class="form-label">Rol</label>
                        <select asp-for="IdRol" class="form-control" asp-items="@ViewBag.IdRol"></select>
                        <span asp-validation-for="IdRol" class="text-danger"></span>
                    </div>

                    <br>
                    <button type="submit" value="Guardar" class="btn btn-primary btn-block">Guardar Cambios</button>
                </form>
                <div class="mt-3">
                    <a href="~/Usuario/Index" class="btn btn-primary btn-block">Volver</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
