@{
}
<div class="container-fluid">
	<div class="row">
		<aside class="barra-lateral col-auto p-0">
			<div class="logo my-3">
				<h2 class="py-4 m-0">Dashboard</h2>
			</div>
			<nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                <a asp-controller="Usuario" asp-action="Index">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
						<path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
					</svg>
					Gestión Usuarios
				</a>
                <a asp-controller="Rol" asp-action="Index">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-nut-fill" viewBox="0 0 16 16">
						<path d="M4.58 1a1 1 0 0 0-.868.504l-3.428 6a1 1 0 0 0 0 .992l3.428 6A1 1 0 0 0 4.58 15h6.84a1 1 0 0 0 .868-.504l3.429-6a1 1 0 0 0 0-.992l-3.429-6A1 1 0 0 0 11.42 1zm5.018 9.696a3 3 0 1 1-3-5.196 3 3 0 0 1 3 5.196" />
					</svg>
					Gestión Roles
				</a>
				<a>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-fill-check" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.8 11.8 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7 7 0 0 0 1.048-.625 11.8 11.8 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.54 1.54 0 0 0-1.044-1.263 63 63 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793z" />
					</svg>
					Seguridad y Rendimiento
				</a>
			</nav>

		</aside>
		<main class="main col">
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Gestión Usuarios</h1>
                </div>
                <p>
                    <a class="btn btn-primary" asp-controller="Usuario" asp-action="Crear" style="background-color: #0F4C5C;margin: 4px 2px;">Agregar Usuario</a>
                </p>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Primer Apellido</th>
                            <th scope="col">Segundo Apellido</th>
                            <th scope="col">Correo Electrónico</th>
                            <th scope="col">Rol</th>
                            <th scope="col"></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mario</td>
                            <td>Tapia</td>
                            <td>Arce</td>
                            <td>mariotapia65@gmail.com</td>
                            <td>Administrador</td>
                            <td>
                                <a class="btn btn-editar" asp-controller="Usuario" asp-action="Editar">Editar</a>
                                <a class="btn btn-eliminar">Inhabilitar</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Marcelo</td>
                            <td>Prieto</td>
                            <td>Murillo</td>
                            <td>mprieto@gmail.com</td>
                            <td>Administrador</td>
                            <td>
                                <a class="btn btn-editar">Editar</a>
                                <a class="btn btn-eliminar">Inhabilitar</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Angela</td>
                            <td>Wong</td>
                            <td>Lee</td>
                            <td>angiew49@hotmail.com</td>
                            <td>Médico</td>
                            <td>
                                <a class="btn btn-editar">Editar</a>
                                <a class="btn btn-eliminar">Inhabilitar</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mario</td>
                            <td>Tapia</td>
                            <td>Arce</td>
                            <td>mariotapia65@gmail.com</td>
                            <td>Secretario</td>
                            <td>
                                <a class="btn btn-editar">Editar</a>
                                <a class="btn btn-eliminar">Inhabilitar</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Arturo</td>
                            <td>Campos</td>
                            <td>Artavia</td>
                            <td>aca78@gmail.com</td>
                            <td>Paciente</td>
                            <td>
                                <a class="btn btn-editar">Editar</a>
                                <a class="btn btn-eliminar">Inhabilitar</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Pedro</td>
                            <td>Ruiz</td>
                            <td>Arce</td>
                            <td>prarce@gmail.com</td>
                            <td>Paciente</td>
                            <td>
                                <a class="btn btn-editar">Editar</a>
                                <a class="btn btn-eliminar">Inhabilitar</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Mario</td>
                            <td>Tapia</td>
                            <td>Arce</td>
                            <td>mariotapia65@gmail.com</td>
                            <td>Paciente</td>
                            <td>
                                <a class="btn btn-editar">Editar</a>
                                <a class="btn btn-eliminar">Inhabilitar</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Esteban</td>
                            <td>Campos</td>
                            <td>Durtmond</td>
                            <td>estebancampos95@gmail.com</td>
                            <td>Paciente</td>
                            <td>
                                <a class="btn btn-editar">Editar</a>
                                <a class="btn btn-eliminar">Inhabilitar</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Mario</td>
                            <td>López</td>
                            <td>Cantillo</td>
                            <td>mariolopez99@gmail.com</td>
                            <td>Paciente</td>
                            <td>
                                <a class="btn btn-editar">Editar</a>
                                <a class="btn btn-eliminar">Inhabilitar</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Juan</td>
                            <td>Arce</td>
                            <td>León</td>
                            <td>juanarce09@gmail.com</td>
                            <td>Paciente</td>
                            <td>
                                <a class="btn btn-editar">Editar</a>
                                <a class="btn btn-eliminar">Inhabilitar</a>
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>

		</main>

	</div>

</div>
