@{
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="mt-3 mb-3">
                <h3 class="mb-3">Crear Bitácora</h3>
            </div>
            <div class="u-form-group mb-3">
                <label for="sintomatologia">Sintomatología del Paciente</label>
                <textarea class="form-control" id="sintomatologia" rows="4"></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="evolucion">Evolución del Paciente</label>
                <textarea class="form-control" id="evolucion" rows="4"></textarea>
            </div>
            <div class="form-group mb-3">
                <label for="medicacion">Ajuste Medicación</label>
                <textarea class="form-control" id="medicacion" rows="4"></textarea>
            </div>
           
        </div>

    </div>

</div>

