@model Proyecto_Final_CentroMedico.Rol
@{
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
<link href="~/css/style_rol_crud.css" rel="stylesheet" />

<link href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.js"></script>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card border-primary mt-5 rounded-lg">
                <div class="card-header">
                    Eliminación de Rol
                </div>
                <h3>Seguro que deseas eliminar el rol a continuación?</h3>
                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NombreRol)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NombreRol)
                        </dd>
                    </dl>

                    <form id="deleteForm" asp-action="Eliminar">
                        <input type="hidden" asp-for="IdRol" />
                        <input type="submit" value="Eliminar" class="btn btn-primary btn-block" />
                    </form>
                </div>
                <div class="mt-3">
                    <a href="~/Rol/Index" class="btn btn-primary btn-block">Volver</a>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#deleteForm').submit(function (e) {
            e.preventDefault(); // prevenir el envío por defecto

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Eliminar")',
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Eliminado!',
                            text: 'El rol ha sido eliminado con éxito.'
                        }).then(() => {
                            window.location.href = '@Url.Action("Index", "Rol")';
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'No se pudo eliminar el rol.'
                        });
                    }
                }
            });
        });
    });
</script>

