@model IEnumerable<Proyecto_Final_CentroMedico.Rol>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
<link href="~/css/style_rol_index.css" rel="stylesheet" />

<h1>Roles</h1>

<p>
    <button type="button" class="btn btn-primary mb-3 mt-2"  onclick="window.location.href='@Url.Action("Crear")'">Crear un nuevo rol</button>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRol)
            </td>
            <td>
                <a asp-action="Editar" asp-route-id="@item.IdRol">Editar</a> |
                <a asp-action="Eliminar" asp-route-id="@item.IdRol">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
