@{
}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
<link href="~/css/style_expedientes_crud.css" rel="stylesheet" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card border-primary mt-5 rounded-lg">
                <div class="card-header bg-primary text-white text-center rounded-top">
                    <h3 class="mb-0">Editar Expediente</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="primerApellido">Primer Apellido</label>
                                <input type="text" class="form-control" id="primerApellido" placeholder="Ingrese su primer apellido">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="segundoApellido">Segundo Apellido</label>
                                <input type="text" class="form-control" id="segundoApellido" placeholder="Ingrese su segundo apellido">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="sexo">Sexo</label>
                                <select class="form-control" id="sexo">
                                    <option value="">Seleccione su sexo</option>
                                    <option value="masculino">Masculino</option>
                                    <option value="femenino">Femenino</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="estadoCivil">Estado Civil</label>
                                <select class="form-control" id="estadoCivil">
                                    <option value="">Seleccione su estado civil</option>
                                    <option value="soltero">Soltero/a</option>
                                    <option value="casado">Casado/a</option>
                                    <option value="divorciado">Divorciado/a</option>
                                    <option value="viudo">Viudo/a</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="edad">Edad</label>
                                <input type="number" class="form-control" id="edad" placeholder="Ingrese su edad">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="ocupacion">Ocupación</label>
                                <input type="text" class="form-control" id="ocupacion" placeholder="Ingrese su ocupación">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="provincia">Provincia</label>
                                <select class="form-control" id="provincia">
                                    <option value="">Seleccione su provincia</option>
                                    <!-- Opciones para seleccionar provincia -->
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="canton">Cantón</label>
                                <select class="form-control" id="canton">
                                    <option value="">Seleccione su cantón</option>
                                    <!-- Opciones para seleccionar cantón -->
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="distrito">Distrito</label>
                                <select class="form-control" id="distrito">
                                    <option value="">Seleccione su distrito</option>
                                    <!-- Opciones para seleccionar distrito -->
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="direccion">Dirección</label>
                            <input type="text" class="form-control" id="direccion" placeholder="Ingrese su dirección">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block rounded-pill">Editar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br></br>
</div>
